html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	
}
h1{
	text-align: left;
	margin: 0;
	font-size: 54px;
	
}
#top{
	width: 300px;
	padding-top: 20px;
	padding-left: 5px;
}
#main {
	width: 600px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	font-family: Helvetica;
	font-size: 16px;
	color: #252525;
}

input#number{
	width: 35%;
	height: 20px;
}
input#item{
	width: 55%;
	height: 20px;
}

div#num_item{	
	height: 60px;
	width: 500px;
	padding-top: 10px;
}
form {
	padding-top: 20px;
	padding-left: 5px;
}

table {
	width: 470px;
	text-align: left;
}
input[type=text] {
	border: none;
	font-size: 16px;
}
tr td:first-child{
	width: 38%;
}
tr td:last-child{
	width: 20px;
}
td {
	padding: 5px;
	font-size: 18px;
}

h3 {
	text-decoration: underline;
	padding: 0;
	margin: 0;
}

