html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	
}
h1{
	text-align: left;
	margin: 0;
	font-size: 54px;
	
}
#top{
	width: 300px;
	padding-top: 20px;
	padding-left: 5px;
}
#main {
	width: 800px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	font-family: Helvetica;
	font-size: 16px;
	color: #333;
}
input:focus {
	outline: none;
	
}
input#item{
	width: 35%;
	height: 20px;
}
input#number{
	width: 40%;
	height: 20px;
}

div#num_item{	
	height: 60px;
	width: 500px;
	padding-top: 10px;
}
form {
	padding-top: 20px;
	padding-left: 5px;
}

table {
	width: 400px;
	text-align: left;
}
input[type=text] {
	border: none;
	border-bottom: 1px solid #919191;
	font-size: 16px;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px; 
}
tr td:first-child{
	width: 46%;
}
tr td:last-child{
	width: 20px;
}
td {
	padding: 5px;
	font-size: 18px;
}

h3 {
	text-decoration: underline;
	padding: 0;
	margin: 0;
}

